


.Feed{
     height: 100vh;
    overflow-x: hidden;
     
    .container{
        display: grid;
        grid-template-columns: 40% 35% 20%;
        height: 100%;
        // align-items: center;
        justify-content: space-between;
        max-width: 95vw;
        margin-inline: auto;
        gap: 10px;
        // overflow: hidden;
    }

    .left_part_feed{
        grid-column: 1/4;
        // background-color: red;
        // overflow-y: auto;
    }
    .right_part{
       
       grid-column: 1/4;
       margin-top: 20px;
       display: flex;
       flex-direction: column;
       
    }

    .following_to{
        
        // background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
        // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background-color: rgb(222, 221, 221);
      
        padding: 20px;
        border-radius: 20px;
        text-align: center;
    }

    .to_follow{
       
        margin-top: 40px;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        background-color: rgb(222, 221, 221);
    }
    
    
   
}


@media screen and (max-width:600px) {

    
    .Feed{
        // overflow: auto;
       
    }
    .container{
        display: grid;
        grid-template-columns: 90%;
        height: 100%;
     
        // margin-top: 30px;
        // padding-top: 30px;
        gap: 20px;
      
       
    }
    
    .left_part_feed{
        margin-top: 20px;
        grid-column: 1/2;
        // height: fit-content;
    }
  
    
    .right_part{
    // border: 2px solid black;
    // display: none;
    grid-column: 1/2;
    height: fit-content;
    // overflow: auto;
  }

}
    
  