.Navbar{
   height: 60px;
  width: 100vw;
   // background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
   // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border:  2px solid rgb(216, 215, 215);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-y: hidden;
  
   .container{
    height: 100%;
    max-width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline: auto;
   }
   .right_side{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;

      .logout{
         font-size: 1.7rem;
 
      }

      .logout:hover{
         color: red;
      }
   }
   
   .banner{
      color: rgb(31, 30, 30);
      font-size: 2rem;
      position: relative;
    
   }

   span{
      position: absolute;
      width: 10px;
      height: 10px;
      // border: 2px solid red;
      border-radius: 50%;
      background-color: red;
      left: 78px;
      top: 8px;
      animation: pop .5s linear infinite ;
   }

   @keyframes pop {
      0%{
         transform: scale(1);
      }
      100%{
         transform: scale(4);
         opacity: 0;
      }
   }

   

   .banner:hover{
    cursor: pointer;
    color: rgb(109, 108, 108);
      span{
         background-color: rgb(13, 13, 13);
      }
   }

   .profile:hover{
      border-radius: 50%;
    cursor: pointer;
    border: 2px solid rgb(7, 7, 7);
   }
}



